
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="AutomaticTest" >
        <classes>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.ddl.exclusao.TableDropTest"></class>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.ddl.criacao.TableCreateTest"/>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.ddl.alteracao.TestaAlteracaoTabela"></class>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.inclusao.PersisteAlunoTeste"/>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.inclusao.PersisteCursoTeste"></class>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.inclusao.PersisteProfessorTeste"/>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.inclusao.PersisteDisciplinaTeste"/>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.inclusao.PersisteTurmaTeste"></class>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.alteracao.AlteraAlunoTeste"></class>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.alteracao.AlteraCursoTeste"></class>
            <class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.alteracao.AlteraDisciplinaTeste"></class>
            <!--<class name="br.com.gilmarioarantes.jdbccrudv1.persistencia.dml.consulta.ConsultaCursoTeste"></class>-->
        </classes>
    </test>
</suite>
